/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/purple-green.css';

html, body { height: 100%;
}


body {

    background-image: url(".//assets/sw.jpg");
    color: black;

}

.mat-toolbar.mat-primary {
    background: #FFE81F;

}




span {
    color: grey;
}

.mat-raised-button {
    background: #FFE81F;
    background-color: #FFE81F;
    color: #FFE81F
}

.starwars-card
{
  width: 30%;
  margin-left: 20%;
}

.mat-card
{
  background-color: #FFE81F;
  color: black;
  margin-bottom: 10%;

}

.search-area
{
  margin-left: 20%;
  padding-top: 5%;
  padding-bottom: 3%
}

.example-form-field
{
  color: white;

}

.mat-option {
  background-color: white;
}


.mat-select-panel{
  background-color: whitesmoke;
}

.mat-form-field-ripple {
  background-color: white !important;
}


.mat-select-value{
  color: white;
}

span.mat-button-wrapper{

  color:black;
}

.mat-select-arrow{
  color: white;
}
mat-form-field.mat-focused span.mat-form-field-label-wrapper label {
  color:white !important;
}


mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color:white !important;
}

.bolded
{
  font-weight: bold;
}

.mat-icon{
  color: white;
}
