<!-- <select>
    <option>
        people
    </option>
    <option>
        starships
    </option>
    <option>
        films
    </option>
</select>

<input/>

<button>Submit</button> -->

<div class="search-area">
<mat-form-field>
        <mat-label>Star Wars Categories</mat-label>
        <mat-select #selected>
          <mat-option *ngFor="let search of searches" [value]="search.value">
            {{search.viewValue}}
          </mat-option>
        </mat-select>
</mat-form-field>

     &nbsp;&nbsp;

<mat-form-field class="example-form-field">
            <input matInput type="text" placeholder="Search"  #input> <!-- # works the same as e.target.value -->
            <button mat-button  matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
              <mat-icon>close</mat-icon>
            </button>
</mat-form-field>

          &nbsp;&nbsp;

<button mat-raised-button (click)='getSearch(selected.value, input.value)'>Search</button>
</div>
<br>
<br>
<app-results *ngIf='results'[results]='results' [selected]='selectedVal'></app-results>
