<div class="search-area">
<mat-form-field>
        <mat-label>Star Wars Categories</mat-label>
        <mat-select #selected>
          <!--  #selected creates a variable to keep track of the value - if you select people, remember people. we chose the word "selected". hashtag in front means it's a variable -->
          <mat-option *ngFor="let search of searches" [value]="search.value">
            <!-- angular for loops over the 3 search options (people, ships, films). [value]="search.value" will display "people" if people value is chosen.   -->
            {{search.viewValue}}
            <!-- what we want displayed om the screen if we select people, People will display. curly brackets means we want this variable we set in TS file to display-->
          </mat-option>
        </mat-select>
</mat-form-field>

     &nbsp;&nbsp;

<mat-form-field class="example-form-field">
            <input matInput type="text" placeholder="Search"  #input>
            <button mat-button  matSuffix mat-icon-button aria-label="Clear" (click)="value=''">

              <mat-icon>close</mat-icon>
            </button>
</mat-form-field>

          &nbsp;&nbsp;

<button mat-raised-button (click)='getSearch(selected.value, input.value)'>Search</button>
<!-- when you click on the button, trigger getSearch, which we set up as method in the TS file.. selected.value is what
we chose from drop down menu, input.value is what we typed in the search field -->

</div>
<br>
<br>
<app-results *ngIf='results' [results]='results' [selected]='selectedVal'></app-results>

<!-- if we have results, display results, if we don't, don't display results.
  [results]='results' means [results] is grabbed from ts file where we defined it as a new variable that gets filled in when we run getSearch.. and 'results' is what we call it here. s
 -->
